/*-----------------------GLOBAL----------------------------------*/
body {
  color: white;
  background-image: url("../img/space1.jpg");
  background-size: cover;
}
div.part {
  display: inline-block;
  margin-top :20px;
  margin-left :30px;
}
/* -----------------------  LEFT --------------------------------- */
div.left {
  width: 300px;
  float: left;
  padding: 10px;
}
div.vita_energia{
  width: 250px;
  float: left;
  margin-bottom:10px;
}
div.progress {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #efefef;
  margin-bottom: 18px;
  margin-top: 2px;
}
#progress-vita {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: red;
  transition: .8s;
}

#progress-energia {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: blue;
  transition: .8s;
}
div.lista {
  display: inline-block;
  width: 220px;
}

div.partName {
  float: left;
  width: 130px;
  margin-top: 10px;
  margin-bottom: 10px;
}

div.partList {
  float: right;
}

div#desc {
  bottom: 0px;
  border-style: groove;
  border-color: blue;
  text-align: center;
  padding: 5px;
  border-radius: 10px;
  background: rgba(0,0,0,0.6);
}


/*center -----------------------------------------------------------*/


div.center {
  width: 570px;
  margin-top:50px;
  float: left;
  height: 500px;
}

.immagine {
  height: 500px;
  margin: 0 auto;
  overflow: hidden;
  position: absolute;

}

#fiamma{
  z-index: -1;
  float:left;
  margin-left: -55px;
}
#trasform{
  position:absolute;
  float:left;
  margin-left: -100px;
}


/*-----fine center-------------------------------------------------*/

div.right {
  width: 300px;
  float: left;
  display: inline-block;
  margin-left: 50px;
  margin-top: 20px;
  position: relative;
}

.right-table {
  width: 100%;
  background: rgba(0,0,0,0.6);
}

td.rightTd {
  width: 30px;
  text-align: center;
}

td.base {
  background-color: blue;
}
td.totale {
  background-color: red;
}

#secDesc {
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  background: red;
  width: 200px;
}

#time {
  width: 40px;
  margin-left: 50px;
}

div.newPart {       /* parte riguardante le skill */
  margin-top: 50px;
  width: 300px;
}

.button{
  width: 150px;
  position: relative;
  float: right;
}
.button:hover {
  background: steelblue;
}
.skillDiv {
  min-width: 300px;
  display: inline-block;
}
#formDiv {
  display: inline-block;
  width: 300px;
}
#reset1{
  width: 150px;
  margin-top: 10px;
  margin-left: 70px;
}
#reset1:hover{
  background: steelblue;
}
#nomeConf {
  width: 80px;
}
#salva{
  width: 173px;
  margin-top: 10px;
}

#timer {
  font-size: 16px;
  text-align: center;
  margin: 0 auto;
  margin-top: 10px;
  background: red;
  width: 60px;
  border-radius: 4px;
}

div.radioC {
  margin-top:50px;
  margin-bottom: 10px;
}
#apriConf {
  float: right;
}
div.configurazioni{
  display: inline-block;
  float: left;
  margin-left: 20px;
}
#notification {
  display: none;
  position: absolute;
  z-index: 1;
  margin: 0 auto;
  top: 20px;
  left: 30%;
  text-align: center;
  background: red;
  border-radius: 5px;
  padding: 5px;
  font-size: 18px;
}
